.header-bg {
  background-color: var(--primary-0);
}

.header {
  display: grid;
  height: 117px;
  align-items: center;
}

.header img {
  max-width: 71px;
}

.header p {
  grid-column: 2/5;
}

.header .btn-exit {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  grid-column: 12;
}
