.container {
  max-width: 1440px;
  margin: 0 64px;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-column-gap: 32px;
}

.btn-primary {
  display: inline-block;
  padding: 12px auto;
  background-color: var(--primary-1);
  border: none;
  color: var(--neutral-7);
  border-radius: 16px;
  cursor: pointer;
  height: 51px;
  width: 302px;
}

.btn-tertiary {
  display: inline-block;
  padding: 12px auto;
  background-color: var(--neutral-7);
  color: var(--neutral-0);
  border: 1px solid var(--neutral-0);
  border-radius: 16px;
  cursor: pointer;
  height: 51px;
}

.btn-tertiary:hover {
  color: var(--secondary-0);
  border: 1px solid var(--secondary-0);
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.15);
}
